<configuration>
	<property>
		<name>dfs.replication</name>
		<value>1</value>
	</property>
	<property>
		<name>dfs.namenode.name.dir</name>
		<value>$NAMENODE_DATA_HOME</value>
	</property>
	<property>
		<name>dfs.datanode.data.dir</name>
		<value>$DATANODE_DATA_HOME</value>
	</property>
	<property>
		<name>dfs.namenode.http-address</name>
		<value>localhost:50070</value>
	</property>
</configuration>