.vscode
.metals
.bloop
.scalafmt.conf
.idea
/driver/app/image-classifier/.bsp
/driver/app/image-classifier/target
/driver/app/image-classifier/project/*
!/driver/app/image-classifier/project/plugins.sbt
/driver/app/image-classifier/src/main/scala/image_classifier/Testbench.scala
